$font-size-tiny: 15px; 
$font-size-small: 18px; 
$font-size-middle: 20px; 
$font-size-medium: 22px; 
$font-size-large: 24px; 
$font-size-x-large: 26px; 
$font-size-xx-large: 28px; 
$font-size-xxx-large: 34px; 
$font-size-hughmongus: 54px; 
